# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Archivos de Sistema/OS
.DS_Store
Thumbs.db

# Configuración Personal / Secretos
.env
.vscode/
.idea/

# Temporales de compilación o logs
logs
*.log
npm-debug.log*

# Service Worker y Cache (opcional, si los generas automáticamente)
# sw.js