 .custom-scroll::-webkit-scrollbar {
        width: 4px;
    }
    .custom-scroll::-webkit-scrollbar-track {
        background: rgba(15, 23, 42, 0.3);
        border-radius: 10px;
    }
    .custom-scroll::-webkit-scrollbar-thumb {
        background: rgba(0, 242, 255, 0.3);
        border-radius: 10px;
    }
    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 242, 255, 0.5);
    }